// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 50px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #234d0f;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #28650b;
  color: white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.col-md-4 {
  margin-bottom: 30px;
}
.card-fan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  padding: 16px;
  border-color: #928204;
  border-width: 2px;
  border-style: solid;
}
