.background-image {
  background-image: url('background_fan_mobile.jpg');
  background-size: cover; /* Cobrir toda a área disponível */
  background-position: center;
  height: 100vh; /* Centralizar a imagem de fundo */
}
