// fut-player-card
.fut-player-card {
  position: relative;
  width: 300px;
  height: 485px;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5.8rem 0;
  margin: 0px auto;
  z-index: 2;
  transition: 200ms ease-in;

  .player-card-top {
    position: relative;
    display: flex;
    color: $gold;
    padding: 0 1.5rem;

    .player-master-info {
      position: absolute;
      line-height: 2.2rem;
      font-weight: 300;
      padding: 1.5rem 0;
      text-transform: uppercase;

      .player-rating {
        font-size: 2rem;
      }

      .player-position {
        font-size: 1.4rem;
      }

      .player-nation {
        display: block;
        width: 2rem;
        height: 25px;
        margin: 0.3rem 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .player-club {
        display: block;
        width: 2.1rem;
        height: 40px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .player-picture {
      width: 200px;
      height: 220px;
      margin: 0 auto;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        right: 0rem;
        bottom: 0;
      }

      .player-extra {
        position: absolute;
        right: 0;
        bottom: -0.5rem;
        overflow: hidden;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        height: 2rem;
        padding: 0 1.5rem;
        text-align: right;
        background: none;

        span {
          margin-left: 0.6rem;
          text-shadow: 2px 2px #333;
        }
      }
    }
  }

  .player-card-bottom {
    position: relative;

    .player-info {
      display: block;
      padding: 0.3rem 0;
      color: $gold;
      width: 90%;
      margin: 0 auto;
      height: auto;
      position: relative;
      z-index: 2;

      .player-name {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        border-bottom: 2px solid rgba($gold, 0.1);
        padding-bottom: 0.3rem;
        overflow: hidden;

        span {
          display: block;
          text-shadow: 2px 2px #111;
        }
      }

      .player-features {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;

        .player-features-col {
          border-right: 2px solid rgba($gold, 0.1);
          padding: 0 2.3rem;

          span {
            display: flex;
            font-size: 1.2rem;
            text-transform: uppercase;

            .player-feature-value {
              margin-right: 0.3rem;
              font-weight: 700;
            }

            .player-feature-title {
              font-weight: 300;
            }
          }
        }

        .player-features-col:last-child {
          border: 0;
        }
      }
    }
  }
}

.player-feature-value {
  position: absolute;
  bottom: -22px;
}
