.num-jogador {
  background-size: cover;
  color: #fff;
  padding: 20px 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

}
  span.num-camisa {
    color: rgb(255, 255, 255);
    line-height: 0.7;
    vertical-align: top;
    font-family: Roboto !important;
    font-size: 23vw !important;
    font-style: italic !important;
    font-weight: 900 !important;
  }
